*{
    padding: 0;
    margin: 0;
}
.input{
    display: none;
}
/* Mobile first INDEX - hasta 625px */
@media screen and (max-width: 625px){
    /* Display:none */
    .cabeza__subtitulo{
        display: none;
    }
    .buscador{
        display: none;
    }
    #proximo-gp{
        display: none;
    }
    .proximo-gp__pais-calendario{
        display: none;
    }
    .contenedor-noticias__titulo{
        display: none;
    }
    #publicidad{
        display: none;
    }
    #encuesta{
        display: none;
    }
    .newsletters{
        display: none;
    }
    #carouselExampleControls{
        display: none;
    }
    #estadisticas{
        display: none;
    }
    #galeria{
        display:none;
    }
    .formulario{
        display: none;
    }
    #carouselExampleCaptions{
        display: none;
    }
   /* header-Menu */
    #cabeza{
        position: fixed;
        top:0px;
        z-index: 999;
        width: 100%;
        background-color: #D90824;
        padding-top: 5px;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }
    /* hijos de Header-Menu */
    .cabeza__titulo{
        font-family: 'Bree Serif', serif;
     }
    .navmenu{
       position: fixed;
       top:45px;
       background-color: #2A2A28;
       color: white;
       height: 400px;
       width: 100%;
       left: 0;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       clip-path:circle(0 at center);
    }
    .navmenu__item{
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        color: white;
        text-decoration: none;
    }
    label{
        display: block;
        cursor: pointer;
    }
    .input:checked + .navmenu{
        clip-path: circle(100% at center);
    }
    /* Proximo-gp */
    #publicidad{
        display:none
    }
    /* Noticias */
    #contenedor-noticias{
       margin-top: 100px;
    }
    /* hijos-Noticias */
    .noticias-destacada{
        margin: 10px auto;
        width: 400px;
        height: 300px;
        display: flex;
        justify-content: center;
        justify-items: start;
    }
    .noticias-destacada__img{
        width: 100%;
        height: 200px;
    }
    .noticias-destacadas__titulo{
        font-family:'Noticia Text', serif; 
        color: black;

    }
    a{
        text-decoration: none;
    }
    .contenedor-noticias__comunes{
         width: 90%; 
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
       }
    .comunes{
        margin: 10px;
        height: 150px;
        width: 175px;
    }
    .noticias__comunes-img{
        width: 100%;
        height: 75px;
        
    }
    .noticias-comunes__titulo{
        font-family:'Noticia Text', serif; 
        color: black;
    }
    .noticias__subtitulo{
        font-family: 'Raleway', sans-serif;
        color: #2E2E2E;

    }
    #newsletters{
      display: none;
    }
   /* Pie */
   #pie{
    margin-top: 40px;
    padding:15px 0;
    background-color: #12172B;
    }
    /* hijos-pie */
    .pie__laescuderia{
        padding-left: 10px;
    }
    .pie__laescuderia-titulo{
        text-align: center;
        font-family: 'Bree Serif', serif;
        font-size: 30px;
        color: white;
    }
    .pie__laescuderia-subtitulo{
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-size: 15px;
    }
    .contenedor__contacto-seguinos{
        margin-top: 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    .pie__titulo{
        text-align: center;
        color: white;
        font-family: 'Patua One', cursiva;
    }
    .pie__seguinos{
        width: 120px;
    }
    .contenedor-logo{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding-top: 8px;
    }
    .pie__email{
        color: white;
        font-family: sans-serif;
    }
    /* Equipos*/
    #mobile-first__equipos{
        position: relative;
        height: 135px;
        width: 90%;
        margin-top: 60px;
        margin-left:5% ;
        margin-right:5% ;
    }
    /* hijos de Equipos */
    .equipo__contenedor{
        width: 100%;
        padding: 5px;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
     }
    .equipo__contenedor-nombre-escudo{
        width: 100%;
        height: 40px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .equipo__nombre{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30px;
        text-align: center;
    }
    .equipo__escudo{
        width: 50px;
        height: 50px;
    }
    .equipo__contenedor-piloto{
        width: 100%;
        display: flex;
        flex-direction: row wrap;
        justify-content: space-around;
    }
    .equipo__piloto{
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .equipo__auto{
        transition: transform 3s;
    }
    .equipo__auto:hover{
        transform: translate(60%);
    }
}
/* Desktop - a partir de 626px */
@media screen and (min-width: 626px){
    /* Display:none */
    .nav__img-menu{
        display: none;
    }
    #mobile-first__equipos{
        display:none;
    }
    body{
        background-color: #F5F4F6;
    }
    #contenedor-grid{
        display: grid;
        grid-template-areas:"header header header"
                            "proximo-gp proximo-gp proximo-gp"
                            "noticias-destacadas noticias-destacadas encuesta"
                            "noticias-destacadas noticias-destacadas publicidad"
                            "newsletters newsletters newsletters"
                            "footer footer footer";
        grid-template-columns:2fr 1fr 350px ;
    }
    /* Header*/
    #cabeza{
        grid-area: header;
        background-color: #D90824;
        padding-top:2px;
    }
    /* Hijos de Header */
    .cabeza__titulo{
        text-align: center;
        font-family: 'Bree Serif', serif;
        font-size: 40px;
    }
    .cabeza__subtitulo{
        text-align: center;
        font-family: 'Stint Ultra Condensed', cursiva;
        font-size: 25px;
    }
    /* Menu */
    .contenedor-menu{
        padding: 2px 0;
    }
    /* hijos de menu */
    .navmenu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    .navmenu__item{
        padding: 0 5px;
        text-decoration: none;
        color: white;
    }
    .navmenu__item:hover{
        border-right: solid 5px white;
        border-left: solid 5px white;
    }
    /* Proximo-GP */
    #proximo-gp{
        grid-area: proximo-gp;
        background-color: #1B1E22;
        margin: 10px 18%;
        border-radius: 10px;
        padding-top: 5px;
        padding-left: 35px;
    }
    /* Hijos de Proximo-GP */
    .proximo-gp__contenedor{
        display: flex;
        flex-flow:row ;
        justify-content:center;
        padding: 10px;
    }
    .proximo-gp__imagen-pais{
        display: flex;
    }
    .proximo-gp__contenedor-img{
        padding-right: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
        border-right: solid 2px white;
        border-bottom: solid 2px white;
    }
    .proximo-gp__pista{
        width: 140px;
        height: 90px;
    }
    .proximo-gp__pais-calendario{
        margin-left: 40px;
        width: 200px;
        position: relative;
    }
    .proximo-gp__pais{
        text-align: end;
        color: white;
        font-size: 30px;
    }
    .proximo-gp__bandera{
        position: absolute;
        top: -1px;
        width: 35px;
        height: 38px;
    }
    .proximo-gp__calendario{
        background-color:#49545d;
        text-align: center;
        color: white;
        font-size: 20px;
        margin-top: 15px;
    }
    /* Noticias */
    #contenedor-noticias{
        grid-area: noticias-destacadas;
    }
    /* Hijo de Noticias */
    .contenedor-noticias__titulo{
        font-family: 'Acme', sans-serif;
        color: #E21219;
        font-size: 30px;
        text-decoration: underline 5px;
        padding-left: 125px;
    }
    .contenedor-noticias__destacadas{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin-top: 20px;
    }
    .noticias-destacada{
        width: 400px;
        height: 420px;
    }
    .noticias-destacada__img{
        width: 100%;
        height: 300px;
        border-radius: 10px;
    }
    a{
        text-decoration: none;
    }
    .noticias__subtitulo{
        font-family: 'Raleway', sans-serif;
        color: #1d1c1c;
    }
    .noticias-destacadas__titulo{
        font-family:'Noticia Text', serif; 
        color: black;
    }
    /* Noticias Comunes */
    .contenedor-noticias__comunes{
        margin: 50px 15%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    /* Hijos de Noticias Comunes */
    .comunes{
        height:425px;
        width:220px ;
    }
    .noticias__comunes-img{
        width: 100%;
        height: 300px;
        border-radius: 20px;
    }
    .noticias-comunes__titulo{
        font-family:'Noticia Text', serif; 
        color: black;
    }
    /* Publicidad */
    #publicidad{
        grid-area: publicidad;
        height: 600px;
        background:linear-gradient(#F23602, white,white, #5634FE );
        border-radius: 5px;
        position: relative;
        padding-top: 50px;
    }
    /* Hijos de Publicidad */
    .publicidad__titulo{
        text-align: center;
        font-size: 50px;
        text-decoration: underline ;
        font-family: sans-serif;
        color: #22181C;
    }
    .publicidad__img{
        position: absolute;
        bottom: 0px;
        width: 350px;
        transform:rotateY(5deg);
    }
    /* Encuesta */
    #encuesta{
        grid-area: encuesta;
        margin-top: 50px;
        height: 250px;
        padding: 5px;
        border-radius: 5px;
        border-top: solid 10px red;
        border-bottom: solid 10px red;
    }
    /* Hijos de Encuesta */
    .encuesta__titulo{
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }  
    .encuesta__contenedor-si{
        margin-top: 30px;
    }
    .encuesta__boton{
        width: 100%;
        font-size: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    /* Newsletters */
    .newsletters{
        grid-area: newsletters;
        margin: 10px 10%;
        padding: 20px;
        background-color: #bd0335;
        
    }
    /* hijos de newsletters */
    .contenedor-newletters{
        
    }
    .newsletters__titulo{
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;
        color: white;
    }
    .newsletters__label{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: white;
    }
    .newsletters__contenedor-label-input{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    .newletters__input{
        background-color: white;
        width: 300px;
        height: 20px;
    }
    .newsletters__boton{
        width: 100px;
        height: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:#bd0335 ;
    }
    /* Pie */
    #pie{
        grid-area: footer;
        background-color: #12172B;
        padding: 10px 5% 50px 5%;
    }
    .pie__contenedor{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .contenedor__contacto-seguinos{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        flex: 1.5;
    }
    .pie__laescuderia{
        flex: 2;
    }
    .pie__laescuderia-titulo{
        font-family: 'Bree Serif', serif;
        font-size: 30px;
        color: white;
    }
    .pie__laescuderia-subtitulo{
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-size: 15px;
    }
    .pie__titulo{
        color: white;
        font-size: 25px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .pie__email{
        color: white;
    }
    .contenedor-logo{
        margin-top: 10p;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }
    .pie__logo:hover{
        border-radius: 10px;
        background-color: orange;
    }
    /* EQUIPO */
    .carousel-item{
        position: relative;
    }
   
    #carouselExampleCaptions{
        margin-top: 80px;
        margin-bottom: 80px;
    }
/* ESTADISTICAS*/
.estadisticas__contenedor{
    margin: 20px 10%;
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    border-radius: 10px;
    border: solid 2px black;

}
.estadisticas__temporada{
    flex: 1;
}
.estadisticas__tabla{
    flex: 2;
    margin-left: 10px;
}
.estadisticas__particular{
    margin-top: 20px;
}
.estadisticas__items{
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#años{
    margin-bottom: 20px;
   font-size: 25px;
    font-family: 'Oswald', sans-serif; 
}
.años__particular{
    font-family: 'Oswald', sans-serif; 
}
.estadisticas__particular{
    padding: 5px 0;
    font-family: 'Lexend Deca', sans-serif;
}
/* Galeria */
/* Hijos de Galeria */
.galeria__videos{
     margin: 20px 10%;
}
.contenedor-destacados{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.galeria__titulo{
    font-family: 'Stint Ultra Condensed', cursiva;
    color: rgb(25, 23, 76);
    text-decoration: underline;
    
}
.videos-titulo{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.galeria__entrevistas{
    margin-top: 20px;
}
.galeria__contenedor-entrevistas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.galeria__imagenes{
    margin: 40px auto;
    padding: 20px;
    background-color: #35437b;
}
.galeria__img-titulo{
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.galeria__contenedor-gp{
    width: 300px;
    height:300;
}
.fotos{
    width: 100%;
    height: 200px;
}
.galeria__contenedor-img{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.galeria-gp{
    color: white;
}
small{
    color:white;
}
/* formulario */
#formulario{
    display: flex;
    justify-content: space-around;

}
.formulario__contenedor{
    margin:50px 15%;
    width: 600px;
}
.nosotros{
    margin: 50px;
}

}